@sizeXs: 480px;
@sizeSm: 768px;
@sizeMd: 992px;
@sizeLg: 1200px;

body {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  background: url(img/background.webp) no-repeat center center fixed;
  background-size: cover;
}
