.Button {
  cursor: pointer;
  .shadowed;
  .redbg;
  font: normal normal normal 20px/1.4em serif;
  transition: color 0.4s ease 0s;
  color: #FFFFFF;
  .text-center;
}

.Button {
  &--menu {
    .Button;
    @media(max-width: @sizeMd) {
      margin: 15px 0 15px;
    }
    @media(min-width: @sizeMd) {
      width: 248px;
      position: absolute;
    }
    height: 56px;
  }

  &--1 {
    .Button;
    @media(min-width: @sizeMd) {
      left: 13px;
      top: 258px;
    }
  }

  &--2 {
    .Button;
    @media(min-width: @sizeMd) {
      left: 13px;
      top: 401px;
    }
  }

  &--3 {
    .Button;
    @media(min-width: @sizeMd) {
      left: 715px;
      top: 258px;
    }
  }

  &--4 {
    .Button;
    @media(min-width: @sizeMd) {
      left: 715px;
      top: 401px;
    }
  }

  &--achat {
    .Button;
    position: static;
    max-width: 415px;
    height: 110px;
    margin: 16px auto;
    line-height: 110px;
  }

  &--music {
    .Button;
    position: static;
    max-width: 300px;
    height: 50px;
    margin: 16px auto;
    line-height: 50px;
  }
}
