.Info__Wrapper {
  @media(min-width: @sizeMd) {
    padding: 30px 40px;
  }
  @media(max-width: @sizeMd) {
    padding: 30px 0;
  }
  color: #605E5E;
  margin: auto;

  @media(min-width: @sizeMd) {
    width: 980px;
  }
  @media(max-width: @sizeMd) {
    max-width: 490px;
  }
}

.Info__Pannel {
  padding: 15px;
  @media(max-width: @sizeMd) {
    .text-center;
  }
}

.Info__Top {
  height: 40px;
  font: normal normal normal 15px 'Lato', sans-serif;
}
.Info__Middle {
  @media(max-width: @sizeMd) {
    font-size: 35px;
  }
  @media(min-width: @sizeMd) {
    font-size: 50px;
    height: 250px;
  }
  font-family: 'Roboto Condensed', sans-serif;
}

.Info__Bottom {
  @media(max-width: @sizeMd) {
    font-size: 20px;
  }
  @media(min-width: @sizeMd) {
    font-size: 30px;
    height: 100px;
  }
  font-family: 'Roboto Condensed', sans-serif;
}

.Info__Titre {
  padding: 20px 0 10px;
  font: normal normal normal 20px 'Lato', sans-serif;
}

.Info__Desription {
  @media(max-width: @sizeXs) {
    padding: 15px;
    font: normal normal normal 20px 'Roboto Condensed', sans-serif;
  }
  @media(min-width: @sizeXs) {
    padding: 0 50px 20px;
    font: normal normal normal 30px 'Roboto Condensed', sans-serif;
  }
}

.Info__Element {
  margin: 30px 0;
}

.Info__Horaire {
  font-size: 40px;
  margin: 0;
  font-family: sans-serif;
}
