.Square {
  .redbg;
  .text-center;
  width: 415px;
  height: 500px;
  left: 282px;
  position: absolute;
  top: 100px;
  color: #FFFFFF;
  .shadowed;

  &__Image {
    position: absolute;
    top: 10px;
    left: 183px;
    height: 50px;
  }
  &__header {
    position: absolute;
    width: 280px;
    left: 69px;
    top: 70px;
    margin: 0px;

    font: normal normal normal 20px 'Lato', sans-serif;
    letter-spacing: 0.1em;
  }

  &__middle {
    position: absolute;
    left: 20px;
    top: 140px;
    width: 382px;

    font: normal normal 60px/1.2em 'Teko', sans-serif;
    letter-spacing: 0.5em;
  }

  &__separator {
    position: absolute;
    top: 380px;
    left: 153px;
    width: 92px;
    height: 2px;
    border-style: none;
    background-color: #FFFFFF;
  }

  &__footer {
    position: absolute;
    width: 350px;
    left: 32px;
    top: 430px;

    font: normal normal normal 15px 'Lato', sans-serif;
    letter-spacing: 0.2em;
  }
}

.Container {
  width: 980px;
  margin: auto;
  &__Menu {
    width: 100%;
    height: 680px;
  }
}
